<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="kernel;components;chromeembed" />
            <dependentAssembly>
                <!-- 目前用於參考到舊版 FISCA.Core 的程式轉參考到新版本。-->
                <assemblyIdentity name="FISCA.Core" publicKeyToken="a269f410f9e2a287" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.1-2.0.0.0" newVersion="1.0.1.6" />
            </dependentAssembly>
            <!-- DotNetBar 版本設定。-->
            <dependentAssembly>
                <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />
                <!--<bindingRedirect oldVersion="7.9.0.0-9.0.0.0" newVersion="9.5.0.1"/>-->
                <codeBase version="7.9.0.5" href="components/DevComponents.DotNetBar2-old.dll" />
                <codeBase version="9.5.0.1" href="components/DevComponents.DotNetBar2.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <loadFromRemoteSources enabled="true" />
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>
